* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: rgba(42, 134, 255, 0.185);
  color: #fff;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-family: "Inter", sans-serif;
}

button,
input {
  font-family: "Roboto", sans-serif;
}

/* MENU STYLE ↓ */
.menu {
  background-color: #2a87ff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
  margin: 0 10%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 24px;
  color: #fff;
}

.logo-icon {
  color: #fff;
  width: 25px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.links a {
  color: #fff;
  font-weight: 300;
  font-size: 15px;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-btn {
  transition: all 0.5s;
}

.menu-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.border-btn {
  padding: 10px 20px;
  box-shadow: inset 0px 0px 0px 1.5px #ffffff;
  border-radius: 50px;
}

/* PAGE STYLE ↓*/
.container {
  padding-top: 8%;
  margin: 0 30%;
}

.fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 17px;

  position: relative;
  background-color: rgba(42, 134, 255, 0.6);
  box-shadow: inset 0px 0px 0px 3px #ffffff;
  border-radius: 20px;
  padding: 80px 0;
}

.angle {
  position: absolute;
  top: 20px;
  left: 20px;
}

input {
  width: 335px;
  font-size: 18px;
  padding: 1px 10px;
  border-radius: 15px;
}

.put-color {
  background-color: #e4ca96;
}

.input-mail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;

  width: 380px;
}

.input-mail input {
  width: 380px;
}

.title {
  font-size: 24px;
}

.input-psw {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.inner-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  margin-top: 5px;
}

.icon-v {
  align-self: center;
  cursor: pointer;
}

.link {
  font-size: 16px;
  color: rgba(177, 17, 17, 0.4);
  transition: all 0.5s;
}

.link:hover {
  color: rgba(177, 17, 17, 0.9);
}

.log-btn {
  margin-top: 30px;
  width: 380px;
  padding: 5px 0;

  color: #121213;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 0px 2.5px #e4ca96;
  transition: all 0.5s;
}

.log-btn:hover {
  box-shadow: none;
  background-color: #e4ca96;
}

/* CLASSES WITCH INTERACTS WITH JAVASCRIPT ↓*/
.logged {
  background-color: #2bf087;
}

.hidden {
  display: none;
}

.message {
  color: #121213;
  margin-bottom: 10px;
}
